@{
    ViewData["Title"] = "Contact";
    ViewData["Description"] = "This page provides you with all the different ways you can get in touch with us. We'd love to hear from you.";
    ViewData["Keywords"] = "CNC Routing, CNC Routing Services, Joinery, Joinery Services, Dorset Routing, UK Routing, CNC Routing Contact, Joinery Contact, Mandeville Contact";
    ViewData["CanonicalUrl"] = Url.Action("Contact", "Home");
}

<section class="mdv-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>Contact.</h1>
                <h4>Please find all the different ways you can get in touch below. We'd love to hear from you.</h4>
            </div>
        </div>
    </div>
</section>

<section class="mdv-page-content">
    <div class="container-fluid">
        <div class="well">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <div class="row text-center">
                        <h2>Address</h2>
                        <p>
                            Unit 4 Townsend Buildings,<br />
                            Melbury Osmond,<br />
                            Dorset,<br />
                            UK,<br />
                            DT2 0LP
                        </p>
                        <p>
                            <strong>
                                tel: 01935 83861<br />
                                mob: 07974 793588<br />
                                email: <a href="mailto:info@mandevillejoinery.com">info@mandevillejoinery.com</a>
                            </strong>
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <iframe class="mdv-map" width="100%" height="350" frameborder="0" style="border:0"
                                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDHBx9zJk3cvUALtGmgD0hyezU3eawQj_c&q=Mandeville%20Joinery,DT2%200LP"></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <h2 class="text-center">Send Us a Message</h2>
                    <div class="row">
                        @Html.Partial("_ContactForm", new MessageModel())
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>