@{
    ViewData["Title"] = "Home";
}

<section class="mdv-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="title">Quality. Excellence. Service.</h1>
                <h4>Here at Mandeville CNC Routing, you can expect the best. Our team have years of hard earned experience in wood based manufacturing which ensures you receive a high quality service at a competitive price.</h4>
                <br>
                <a href="javascript:void(0)" class="btn btn-raised btn-lg btn-success">Get a Quote</a>
            </div>
        </div>
    </div>
</section>

<section class="mdv-page-content">
    <div class="container-fluid">
        <div class="well">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h2 class="text-center">Introducing Mandeville CNC</h2>
                    <p class="lead text-center">Lorem ipsum dolor sit amet, no quo saepe impedit atomorum. Mei ei atomorum consulatu adversarium, id fugit eligendi molestie pro, mel ea dicam ubique. Cu pro ocurreret dissentias, ne ius assum quidam delicatissimi.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h3 class="text-center">Our Values</h3>
                    <p class="text-center">Lorem ipsum dolor sit amet, no quo saepe impedit atomorum. Mei ei atomorum consulatu adversarium, id fugit eligendi molestie pro, mel ea dicam ubique. Cu pro ocurreret dissentias, ne ius assum quidam delicatissimi.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="mdv-info-block">
                        <i class="material-icons icon-success">beenhere</i>
                        <h4>Quality</h4>
                        <p>Lorem ipsum dolor sit amet, no quo saepe impedit atomorum. Mei ei atomorum consulatu adversarium, id fugit eligendi molestie pro.</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="mdv-info-block">
                        <i class="material-icons icon-warning">star</i>
                        <h4>Excellence</h4>
                        <p>Lorem ipsum dolor sit amet, no quo saepe impedit atomorum. Mei ei atomorum consulatu adversarium, id fugit eligendi molestie pro.</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="mdv-info-block">
                        <i class="material-icons icon-info">sentiment_very_satisfied</i>
                        <h4>Service</h4>
                        <p>Lorem ipsum dolor sit amet, no quo saepe impedit atomorum. Mei ei atomorum consulatu adversarium, id fugit eligendi molestie pro.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h2 class="text-center">Get in Touch</h2>
                    <p class="text-center">Lorem ipsum dolor sit amet, no quo saepe impedit atomorum. Mei ei atomorum consulatu adversarium, id fugit eligendi molestie pro, mel ea dicam ubique. Cu pro ocurreret dissentias, ne ius assum quidam delicatissimi.</p>

                    <div class="row">
                        <form>
                            <div class="col-md-6">
                                <div class="form-group label-floating">
                                    <label class="control-label" for="name">Your Name</label>
                                    <input class="form-control" id="name" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group label-floating">
                                    <label class="control-label" for="email">Your Email</label>
                                    <input class="form-control" id="email" type="text">
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group label-floating">
                                    <label class="control-label" for="message">Your Message</label>
                                    <textarea class="form-control" id="message" rows="5"></textarea>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-raised btn-primary btn-block-xs pull-right">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>