@{
    ViewData["Title"] = "Error";
    ViewData["Description"] = "This is the generic server error page that is displayed when something goes wrong with the request.";
    ViewData["Keywords"] = "CNC Routing, CNC ROuting Services, Joinery, Joinery Services, Woodwork, Dorset Routing, UK Routing, 500";
    ViewData["CanonicalUrl"] = Url.Action("Error", "Home");
    ViewData["HideFooter"] = true;
}

<section class="mdv-page-header">
    <div class="mdv-page-header-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1>Oh Dear! :(</h1>
                    <h4>An error occurred processing your request, rest assured we know about it and will deal with it.</h4>
                </div>
            </div>
        </div>
    </div>
</section>