@model QuoteModel
@using Microsoft.AspNetCore.Hosting;
@using System.IO;

@{
    ViewData["Title"] = "Gallery";
    ViewData["Description"] = "Have a look at some of our work in the interactive gallery.";
    ViewData["Keywords"] = "CNC Routing, CNC Routing Services, Joinery, Joinery Services, Woodwork, Dorset Routing, UK Routing, CNC Routing Quote, Joinery Quote";
    ViewData["CanonicalUrl"] = Url.Action("Gallery", "Home");
}

@section Styles {
    <link href="@Url.Content("~/lib/fotorama/fotorama.css")" rel="stylesheet">
}

@section Scripts {
    <script src="@Url.Content("~/lib/fotorama/fotorama.js")"></script>
}

<section class="mdv-page-header" style="background-image: url('/images/bg6.jpg')">
    <div class="mdv-page-header-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1>Gallery.</h1>
                    <h4>We like to take pictures of our work. Take a look in the interactive gallery below.</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mdv-page-content">
    <div style="background-color:#fff;width:100%;padding: 20px;">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="fotorama" data-nav="thumbs" data-width="100%">
                    @{
                        var hostRoot = ((IHostingEnvironment)ViewContext.HttpContext.RequestServices.GetService(typeof(IHostingEnvironment))).ContentRootPath;
                        var wwwRoot = System.IO.Path.Combine(hostRoot, "wwwroot");
                        var gallery = System.IO.Path.Combine(wwwRoot, "images", "gallery");
                    }

                    @foreach (var file in Directory.GetFiles(gallery, "*_thumb.*"))
                    {
                        <a href="@file.Replace(wwwRoot, string.Empty).Replace('\\', '/').Replace(" ", "%20").Replace("_thumb", string.Empty)">
                            <img src="@file.Replace(wwwRoot, string.Empty).Replace('\\', '/').Replace(" ", "%20")" />
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</section>