@model QuoteModel
@using Microsoft.AspNetCore.Hosting;
@using System.IO;

@{
    ViewData["Title"] = "Gallery";
    ViewData["Description"] = "Have a look at some of our work in the interactive gallery.";
    ViewData["Keywords"] = "CNC Routing, CNC Routing Services, Joinery, Joinery Services, Woodwork, Dorset Routing, UK Routing, CNC Routing Quote, Joinery Quote";
    ViewData["CanonicalUrl"] = Url.Action("Gallery", "Home");
}

@section Styles {
    <link href="@Url.Content("~/lib/fotorama/fotorama.css")" rel="stylesheet">
    <style>
        .nav-pills li {
            margin: 6px 0;
            float: none;
            display: inline-block;
        }
    </style>
}

@section Scripts {
    <script src="@Url.Content("~/lib/fotorama/fotorama.js")"></script>
    <script src="@Url.Content("~/js/gallery.js")"></script>
}

<section class="mdv-page-header" style="background-image: url('/images/bg6.jpg')">
    <div class="mdv-page-header-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1>Gallery.</h1>
                    <h4>We like to take pictures of our work. Take a look in the interactive gallery below.</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mdv-page-content">
    <div class="container-fluid">
        <div class="well">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#" section="architectural">Architectural</a></li>
                        <li><a href="#" section="conservatories">Conservatories</a></li>
                        <li><a href="#" section="doors">Doors</a></li>
                        <li><a href="#" section="furniture">Furniture</a></li>
                        <li><a href="#" section="gates">Gates</a></li>
                        <li><a href="#" section="green_oak">Green Oak</a></li>
                        <li><a href="#" section="kitchens">Kitchens</a></li>
                        <li><a href="#" section="restoration">Restoration</a></li>
                        <li><a href="#" section="stairs">Stairs</a></li>
                        <li><a href="#" section="windows">Windows</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div id="fotorama" data-nav="thumbs" data-maxHeight="85%" data-width="100%">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>