@{
    ViewData["Title"] = "Page Not Found";
    ViewData["Description"] = "This is the generic 404 error page that is displayed when the user navigates to an invalid URL.";
    ViewData["Keywords"] = "CNC Routing, CNC ROuting Services, Joinery, Joinery Services, Woodwork, Dorset Routing, UK Routing, 404";
    ViewData["CanonicalUrl"] = Url.Action("PageNotFound", "Home");
    ViewData["HideFooter"] = true;
}

<section class="mdv-page-header">
    <div class="mdv-page-header-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1>Oh Dear! :(</h1>
                    <h4>The page you're looking for cannot be found.</h4>
                </div>
            </div>
        </div>
    </div>
</section>