@{
    ViewData["Title"] = "About Us";
    ViewData["Description"] = "Find out a little more about our history, our values and our skilled team of wood enthusiasts.";
    ViewData["Keywords"] = "of woodwork, of woodwork Services, Joinery, Joinery Services, Woodwork, Dorset Routing, UK Routing, About, About Mandeville, About Mandeville Joinery, Mandeville Joinery History, Values";
    ViewData["CanonicalUrl"] = Url.Action("AboutUs", "Home");
}

<section class="mdv-page-header" style="background-image: url('/images/bg1.jpg')">
    <div class="mdv-page-header-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1>Terms and Conditions.</h1>
                    <h4>This is how we like to operate.</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mdv-page-content">
    <div class="container-fluid">
        <div class="well">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <p class="text-center">
                        Yada yada yada.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>